{% load static %}

<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta http-equiv="X-UA-Compatible" content="ie=edge">
		<title>E-CinemaX</title>
		<link rel="shortcut icon" type="image" href="icon2.png">
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
        crossorigin="anonymous">
		<script defer src="https://use.fontawesome.com/releases/v5.0.2/js/all.js"></script>
		<link rel="stylesheet" type= "text/css" href="{% static 'css/Registration.css' %}">
	</head>
	
	<body>
		<nav class="navbar navbar-expand-sm navbar-dark bg-dark fixed-top">
			<a href="/" class="navbar-brand"><img src="{% static 'images/icon2.png' %}" class = "icon" width="50" height="50" class="d-inline-block align-top" alt="">E-CinemaX</a>
			<button class="navbar-toggler" data-toggle="collapse" data-target="#navbarMenu">
				<span class="navbar-toggler-icon"></span>
			</button>
			<div class="collapse navbar-collapse" id="navbarMenu">
				<form  action={% url 'filter_title' %}  method="POST" class="form-inline ml-lg-5">
					{% csrf_token %}
					<!--<input class="form-control mr-2" type="search" placeholder="Search Movies" aria-label="Search">
					<button class="btn btn-outline-light my-2" type="submit"><i class="fas fa-search"></i></button> -->
					<input name="search" class="form-control mr-2" type="search" placeholder="Search" aria-label="Search">
					<button class="btn btn-outline-light my-2" type="submit"><i class="fas fa-search"></i></button>
				</form>
				<form  action={% url 'filter_category' %}  method="POST" class="form-inline ml-lg-5">
					{% csrf_token %}
					<!--<input class="form-control mr-2" type="search" placeholder="Search Movies" aria-label="Search">
					<button class="btn btn-outline-light my-2" type="submit"><i class="fas fa-search"></i></button> -->
					<div class="dropdown">
						<select name="category" id="categorylist">
							<option value>- select -</option>
							<option value="action">Action</option>
							<option value="animation">Animation</option>
							<option value="comedy">Comedy</option>
							<option value="drama">Drama</option>
							<option value="horror">Horror</option>
							<option value="thriller">Thriller</option>
							<option value="war">War</option>
						  </select>
					</div>
					<button class="btn btn-outline-light my-2" type="submit"><i class="fas fa-search"></i></button>
				</form>
				<ul class="navbar-nav ml-auto">
					{% if user.is_authenticated %}
					<li class="nav-item">
						<a href="/user/profile"class="nav-link"><i class="fas fa-user" style="margin-right: 10px"></i>{{user.username}}</a>
					</li>
					<li class="nav-item">
						<a href="/booking/booking_history"class="nav-link"><i class="fas fa-user" style="margin-right: 10px"></i>BOOKING HISTORY</a>
					</li>
					<li class="nav-item">
						<a href="/logout" class="nav-link">LOGOUT</a>
					</li>
					{% else %}
					<li class="nav-item">
						<a href="/login" class="nav-link">LOGIN</a>
					</li>
					<li class="nav-item">
						<a href="/signup" class="nav-link">SIGN UP</a>
					</li>
					{% endif %}
				</ul>
			</div>         
		</nav>
	<div class="container-fluid my-container">
		<br><br><br><br>
		<div class="title"><br>FORGOT PASSWORD</div>
		<br><hr><br>
	</div>
<section class="vh-100">
  <div class="container py-5 h-100">
    <div class="row d-flex align-items-center justify-content-center h-100">
      <div class="col-md-8 col-lg-7 col-xl-6">
        <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-login-form/draw2.svg"
          class="img-fluid" alt="Phone image">
      </div>
      <div class="col-md-7 col-lg-5 col-xl-5 offset-xl-1">
        <form>
          <!-- Email input -->
          <div class="form-group required mb-4">
			<div class="form-check-label" style = "text-align: center; font-size: 20px"><b>A link has been sent to your email. Kindly follow the steps in the link to reset your password.</b></div>
          </div>
          <div class="d-flex justify-content-around align-items-center mb-4">
          </div>
          <button type="submit" class="btn btn-primary btn-lg btn-block"><a style = "text-decoration:none; color: white;" href = "/"> CONTINUE</a></button>
        </form>
      </div>
    </div>
  </div>
</section>
	</body>
</html>