{% load static %}
{% csrf_token %}
<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta http-equiv="X-UA-Compatible" content="ie=edge">
		<title>E-CinemaX</title>
		<link rel="shortcut icon" type="image" href="{% static 'images/icon2.png' %}">
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
        crossorigin="anonymous">
		<script defer src="https://use.fontawesome.com/releases/v5.0.2/js/all.js"></script>
		<link rel="stylesheet" type= "text/css" href="{% static 'css/Registration.css' %}">
	</head>
	
	<body>
		<nav class="navbar navbar-expand-sm navbar-dark bg-dark fixed-top">
			<a href="/" class="navbar-brand"><img src="{% static 'images/icon2.png' %}" class = "icon" width="50" height="50" class="d-inline-block align-top" alt="">E-CinemaX</a>
			<button class="navbar-toggler" data-toggle="collapse" data-target="#navbarMenu">
				<span class="navbar-toggler-icon"></span>
			</button>
			<div class="collapse navbar-collapse" id="navbarMenu">
				<form  action={% url 'filter_title' %}  method="POST" class="form-inline ml-lg-5">
					{% csrf_token %}
					<!--<input class="form-control mr-2" type="search" placeholder="Search Movies" aria-label="Search">
					<button class="btn btn-outline-light my-2" type="submit"><i class="fas fa-search"></i></button> -->
					<input name="search" class="form-control mr-2" type="search" placeholder="Search" aria-label="Search">
					<button class="btn btn-outline-light my-2" type="submit"><i class="fas fa-search"></i></button>
				</form>
				<form  action={% url 'filter_category' %}  method="POST" class="form-inline ml-lg-5">
					{% csrf_token %}
					<!--<input class="form-control mr-2" type="search" placeholder="Search Movies" aria-label="Search">
					<button class="btn btn-outline-light my-2" type="submit"><i class="fas fa-search"></i></button> -->
					<div class="dropdown">
						<select name="category" id="categorylist">
							<option value>- select -</option>
							<option value="action">Action</option>
							<option value="animation">Animation</option>
							<option value="comedy">Comedy</option>
							<option value="drama">Drama</option>
							<option value="horror">Horror</option>
							<option value="thriller">Thriller</option>
							<option value="war">War</option>
						  </select>
					</div>
					<button class="btn btn-outline-light my-2" type="submit"><i class="fas fa-search"></i></button>
				</form>
				<ul class="navbar-nav ml-auto">
					{% if user.is_authenticated %}
					<li class="nav-item">
						<a href="/user/profile"class="nav-link"><i class="fas fa-user" style="margin-right: 10px"></i>{{user.username}}</a>
					</li>
					<li class="nav-item">
						<a href="/booking/booking_history"class="nav-link"><i class="fas fa-user" style="margin-right: 10px"></i>BOOKING HISTORY</a>
					</li>
					<li class="nav-item">
						<a href="/logout" class="nav-link">LOGOUT</a>
					</li>
					{% else %}
					<li class="nav-item">
						<a href="/login" class="nav-link">LOGIN</a>
					</li>
					<li class="nav-item">
						<a href="/signup" class="nav-link">SIGN UP</a>
					</li>
					{% endif %}
				</ul>
			</div>         
		</nav>
	<div class="container-fluid my-container">
		<br><br><br><br>
		<div class="title"><br>REGISTRATION</div>
		<br><hr><br>
	</div>

    <form class="col-lg-8 off offset-lg-1 styles" action={% url 'signup' %}  method="POST">
        {% csrf_token %}
      <div class="form-row required">
        <div class="form-group required col-md-6">
          <label class="form-check-label" for="inputName4">FirstName *</label>
          <input type="name" name="fname" required class="form-control" id="inputName4" placeholder="FirstName">
        </div>
        <div class="form-group required col-md-6">
          <label class="form-check-label" for="inputLast4">LastName *</label>
          <input type="name" name="lname" required class="form-control" id="inputLast4" placeholder="LastName">
        </div>
      </div>
	  <div class="form-group">
        <label class="form-check-label" for="email">Email</label>
        <input type="text" name="email" required class="form-control" id="email" placeholder="Email">
      </div>
      <div class="form-row">
        <div class="form-group required col-md-6">
          <label class="form-check-label" for="inputPassword4">Password *</label>
          <input type="password" name="password" required class="form-control" id="inputPassword4" placeholder="Password">
        </div>
        <div class="form-group required col-md-6">
          <label class="form-check-label" for="inputPasswordConfirm4">Confirm Password *</label>
          <input type="password" required class="form-control" id="inputPasswordConfirm4"
            placeholder="Confirm Password">
        </div>
      </div>
      <div class="form-group">
        <label class="form-check-label" for="inputAddress">Address</label>
        <input type="text" name="address" class="form-control" id="inputAddress" placeholder="1234 Main St">
      </div>
      <div class="form-group">
        <label class="form-check-label" for="inputAddress2">Username</label>
        <input type="text" name="username" class="form-control" id="inputAddress2" placeholder="unique user id">
      </div>
    <!-- <div class="form-row">
        <div class="form-group col-md-6">
          <label class="form-check-label" for="inputCity">City</label>
          <input type="text" class="form-control" id="inputCity" placeholder="City">
        </div>
        <div class="form-group col-md-4">
          <label class="form-check-label" for="inputState">State</label>
          <select id="inputState" class="form-control">
            <option selected>Choose...</option>
            <option>...</option>
          </select>
        </div>
        <div class="form-group col-md-2">
          <label class="form-check-label" for="inputZip">Zip</label>
          <input type="text" class="form-control" id="inputZip" placeholder="00000">
        </div>
      </div>
	  <div class="form-group">
        <label class="form-check-label" for="card">Cardholder Name</label>
        <input type="text" class="form-control" id="card" placeholder="Name on Card">
      </div>
		<div class="form-row">
        <div class="form-group col-md-6">
          <label class="form-check-label" for="cardNo">Card Number</label>
          <input type="text" class="form-control" id="cardNo" placeholder="XXXX XXXX XXXX XXXX">
        </div>
        <div class="form-group col-md-4">
          <label class="form-check-label" for="expiry">Expiry Date</label>
          <input type="date" class="form-control" id="expiry">
        </div>
        <div class="form-group col-md-2">
          <label class="form-check-label" for="cvv">CVV</label>
          <input type="text" class="form-control" id="cvv" placeholder="XXX">
        </div>
      </div> -->
      <br />
      <div class="form-group">
        <div class="form-check">
          <input class="form-check-input" name="promobox" type="checkbox" id="gridCheck">
          <label class="form-check-label" for="gridCheck">
            Sign me up for promotions
          </label>
        </div>
      </div>
      <button type="submit" value="SignUp" class="btn btn-primary">REGISTER</button></br>
      <div id = "message"><center><p class="m" style="color: red; font-size: 13px"> {{ message }} </p> </center></div>
                         
    </form>
	
	<div class="container-fluid my-container">
			<br><hr><br>
	</div>
	
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
    integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
    crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
    integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
    crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
    integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
    crossorigin="anonymous"></script>
  <script src="myScript.js"></script>
</body>

</html>