body{
	/* background-image: url("background.jpg"); */
	background-color: #242333 !important;
}
.form-control{
	width: auto;
}
 .my-row {
    height: 350px;
}
.my-col {
	margin:auto;
}
.header{
	color: white;
	font-family: impact;
	text-align: center;
	letter-spacing: 2px;
	font-size: 70px;
	color: #E6E6FA;
	-webkit-text-stroke: 1px black;
}
hr {
  background: linear-gradient(to right, #483D8B, #8FBC8F);
  height: 5px;
  width: 80%;
  border-radius: 50%;
}
.navbar-brand{
	background-image: linear-gradient(to right, #483D8B, #8FBC8F); 
	-webkit-background-clip: text;  
	font-stretch: ultra-expanded; 
	font-family:impact;
	font-size: 40px;
	color: transparent !important;
}
.navbar-brand:hover{
	opacity: 0.7;
}
.bg-dark{
	background-color: #222222 !important;
}
.btn-outline-dark{
	background: white;
	color:#bd9dea;
	border: 3px solid #bd9dea;
	padding: 10px 50px 10px 50px;
}
.btn-outline-dark:hover{
	background: black;
	color:white;
	border: 3px solid black;
}
.btn-first{
	background: #8FBC8F;
	border: 1px solid #8FBC8F;
}
.btn-primary{
	background: #8FBC8F;
	border: 1px solid #8FBC8F;
	width: 200px;
}
.btn-primary:hover{
	color: #8FBC8A;
	border: 1px solid #8FBC8A;
	background: white;
}
.btn-primary:active{
	color: #8FBC8A !important;
	border: 1px solid white;
	background: white important;
}
.dropdown{
	margin-right: 10px;
}
.icon{
	vertical-align: middle !important;
	margin-right: 10px;
}
.textStyle{
	color:#E6E6FA;
	font-family: helvetica;
	padding-bottom: 10px;
	font-weight: bold;
	letter-spacing: 1.2px; 
}
table{
	 width:80%; 
	 color: white;
	 background: black;
	 border-radius: 10px;
	 margin: auto;
}
.imageStyle{
	margin: auto;
    display: block;
	width: 220px; 
	height: 320px;
}
.padding{
	padding: 22px 0px 22px 0px;
}
th, td {
  padding: 20px 0px 20px 0px;
}
.movieTitle{
	color: white;
	font-family: impact;
	text-align: center;
	letter-spacing: 2px;
	font-size: 50px;
	color: #b891f7 !important;
}
